.newsListBlock {
  padding-bottom: 3rem;
  width: 760px;
  margin: 0 auto; 
  margin-top: 2rem;

  @media screen and (max-width:768px) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}